.membershipPage {
    font-family: Arial, sans-serif;
    color: #2a2a2a;
    background: linear-gradient(to bottom, #f7f7f7, #f9f9f9);
}

.contentContainer {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.sectionHeading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
    color: #000000;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.sectionHeading::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #a25fe0;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}

.description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.downloadLink {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #a25fe0, #8755c7);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.downloadPDF {
    margin-top: 20px;
    text-align: center;
}

.downloadLink:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.paragraph {
    display: block;
    margin: 20px 130px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dcdcdc;
    color: #333;
    text-align: justify;
}
