.contactUsPage {
    font-family: Arial, sans-serif;
    color: #2a2a2a;
    background-color: #f9f9f9;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
    color: #000000;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.heading::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #5fd1e0;
    margin: 10px auto 0 auto;
    border-radius: 2px;
    display: block;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contactUsSection {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5rem;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.contactUsSection > * {
    flex: 1;
}

.contactUsCard {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactUsCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.fakeMap {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
