/* MembershipBlock.module.css */

.membershipBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #7293A0;
}

.contentContainer {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.textContainer {
    flex: 1;
    margin-right: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #000000;
}

.link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.imageContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
