.sponsersBlock {
    padding: 3rem;
    background-color: #fbfef9;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    height: 550px;
}

.imageContainer {
    display: flex;
    animation: scroll 30s linear infinite;
    margin-top: 10px ;
}

.imageContainer:hover {
    animation-play-state: paused;
}

.image {
    flex-shrink: 0;
    width: 450px;
    height: auto;
    margin-right: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}