.historyPage {
    font-family: Arial, sans-serif;
    color: #2a2a2a;
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
    color: #000000;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.heading::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #e8c556;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}

.timelineContainer {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
